html {
  background: url(../images/spice-girls.jpg) no-repeat top left;
}

#monkey {
  position: absolute;
  top: 550px;
  right: 120px;
}

/* Write your solution here */

@media only screen and (min-width:410px ) {
    #monkey{
      top:0px;
    }
}

@media only screen and (min-width:1160px ) {
    #monkey{
      top:550px;
    }
}
